body{
	font-family: Ubuntu !important;
}

.bg-blue {
    background-color: #eceded !important;
}

.active-link {
    text-decoration: underline orange;
}

.container {
    max-width: 1250px !important;
}

.detail-view .col-form-label, .edit-view .form-group{
	color:#FF8800
}

.icon-padding{
	padding:5px;
	color:#FF8800 !important
}

.delete-icon{
	color:red !important;
}

.button-orange {
    color: white !important;
    font-size: 11px;
    font-weight: bold !important;
    text-align: center;
    background-color: #FF8800;
    border: 2px white solid;
    line-height: 24px;
    text-decoration: none;
    border-radius: 24px !important;
    background-image: linear-gradient(to bottom, #FFB700 0%, #FB8219 100%);
}

.page-link{
	color:#FF8800 !important
}

.page-item.active .page-link {
    background-color: #FF8800 !important;
    border-color: #FF8800  !important;
	color:white !important
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}