<template>
	<div>
		<b-card no-body>
			<div slot="header">
				<h4> Loan List</h4>
				<a href="javascript:void(0)" class="btn button-orange float-right" @click="edit(forms,0)">
				<i aria-hidden="true" class="fa fa-plus"></i>
				<span class="col-md-2">Create Loan</span></a>
			</div>
			<b-card-body>
				<b-row class="float-right">
					<b-col md="12" class="my-2">
						<b-input-group>
							<b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
						</b-input-group>
					</b-col>
				</b-row>
				<b-table id="loan-table" responsive
					show-empty
					:fields="fields" 
					:items="loanData"
					:current-page="currentPage"
					:per-page="perPage"
					:filter="filter"
					@filtered="onFiltered"
					>
					
					  <template slot="user_name" slot-scope="data">
						{{ data.item.user_name }}
					  </template>
					
			  
					<template slot="amount" slot-scope="data">
						{{data.item.amount | currency}}
					</template>
					
					<template slot="interest" slot-scope="data">
						{{data.item.interest | percentage}}
					</template>
					
					<template slot="start_date" slot-scope="data">
						{{data.item.start_date | formatDate}}
					</template>
					
					<template slot="end_date" slot-scope="data">
						{{data.item.end_date | formatDate}}
					</template>
					
					<template slot="actions" slot-scope="data">
						<a href="javascript:void(0)" title="view" class="icon-padding" @click="info(data.item, data.item.id, $event.target)">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</a>
						<a href="javascript:void(0)" title="edit" class="icon-padding" @click="edit(data.item, data.item.id, $event.target)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
						<a v-bind:class="{ 'fa-disabled': data.item.status==3 }"  href="javascript:void(0)" title="delete" class="icon-padding delete-icon" @click="deleteLoan(data.item.id)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</template> 
				</b-table>
				<b-row>
					<b-col class="my-1" v-if="totalRows > perPage">
						<b-pagination
							v-model="currentPage"
							:total-rows="totalRows"
							:per-page="perPage"
							class="my-0"
							align="right"
						></b-pagination>
					</b-col>
				</b-row>
			</b-card-body>
		</b-card>
		<b-modal centered :id="infoModal.id" :title="infoModal.title" :hide-footer="true" @hide="resetInfoModal">
			<div class="detail-view">
				<b-card bg-variant="light">
					<b-form-group
						label-cols-sm="4"
						label="User Name:"
						label-align-sm="left"
					  >
						<div class="mt-2">{{ infoModal.content.user_name }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Amount:"
						label-align-sm="left"
					  >
						<div class="mt-2">{{ infoModal.content.amount | currency }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Interest:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.interest | percentage }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Duration:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.duration }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Start Date:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.start_date | formatDate }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="End Date:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.end_date | formatDate }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Campaign:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.campaign }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Status:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.status }}</div>
					  </b-form-group>
				</b-card>
			</div>
		</b-modal>
		<b-modal centered :id="editModal.id" :title="editModal.title" :no-close-on-backdrop="true" :hide-footer="true" @hide="resetEditModal">
			<div class="edit-view">
				<b-card bg-variant="light">
					<form novalidate @submit.prevent="submit">
						<div class="form-group">
							<label for="user">User</label>
							<select name="user" class="form-control" id="user" v-model="forms.user">
								<option v-for="option in userData" v-bind:value="option.user_id">
									{{ option.first_name }} {{option.last_name}}
								</option>
							</select>
							<div v-if="errors && errors.user" class="text-danger">{{ errors.user[0] }}</div>
						</div>
						<div class="form-group">
							<label for="amount">Amount</label>
							<input type="number" class="form-control" name="amount" id="amount" v-model="forms.amount" />
							<div v-if="errors && errors.amount" class="text-danger">{{ errors.amount[0] }}</div>
						</div>
						<div class="form-group">
							<label for="interest">Interest</label>
							<input type="number" class="form-control" name="interest" id="interest" v-model="forms.interest" />
							<div v-if="errors && errors.interest" class="text-danger">{{ errors.interest[0] }}</div>
						</div>
						<div class="form-group">
							<label for="duration">Duration</label>
							<input type="number" class="form-control" name="duration" id="duration" v-model="forms.duration" />
							<div v-if="errors && errors.duration" class="text-danger">{{ errors.duration[0] }}</div>
						</div>
						<div class="form-group">
							<label for="start_date">Start Date</label>
							<input type="date" class="form-control" name="start_date" id="start_date" v-model="forms.start_date" />
							<div v-if="errors && errors.start_date" class="text-danger">{{ errors.start_date[0] }}</div>
						</div>
						<div class="form-group">
							<label for="end_date">End Date</label>
							<input type="date" class="form-control" name="end_date" id="end_date" v-model="forms.end_date" />
							<div v-if="errors && errors.end_date" class="text-danger">{{ errors.end_date[0] }}</div>
						</div>
						<div class="form-group">
							<label for="campaign">Campaign</label>
							<input type="number" class="form-control" name="campaign" id="campaign" v-model="forms.campaign"/>
							<div v-if="errors && errors.campaign" class="text-danger">{{ errors.campaign[0] }}</div>
						</div>
						<div class="form-group">
							<label for="status">Status</label>
							<input type="number" class="form-control" name="status" id="status" v-model="forms.status"  min="0" max="3" />
							<div v-if="errors && errors.status" class="text-danger">{{ errors.status[0] }}</div>
						</div>
						<button type="submit" class="btn button-orange btn-lg float-right rounded-pill">Save</button>
					</form>
				</b-card>
			</div>
		</b-modal>
    </div>
</template>

<script>
    export default {
		created(){
			this.getLoanList();
		},
		data() {
		  return {
				fields: [
					{ key: 'user_name', label: 'User name', sortable: true },
					{ key: 'amount', label: 'Amount',  sortable: true, class: 'text-center'},
					{ key: 'interest', label: 'Interest',  sortable: true ,class: 'text-center'},
					{ key: 'duration', label: 'Duration',  sortable: true, class: 'text-center'},
					{ key: 'start_date', label: 'Start Date' ,  sortable: true, class: 'text-center'},
					{ key: 'end_date', label: 'End Date' ,  sortable: true, class: 'text-center'},
					{ key: 'campaign', label: 'Campaign' ,sortable: true, class: 'text-center'},
					{ key: 'status', label: 'Status' ,sortable: true, class: 'text-center'},
					{ key: 'actions', label: 'Actions' ,class: 'text-center'},
				  ],
				loanData: [],
				userData: [],
				filter: null,
				totalRows: 1,
				currentPage: 1,
				perPage: 10,
				pageOptions: [5, 10, 15],
				infoModal: {
					id: 'info-modal',
					title: '',
					content: ''
				},
				editModal: {
					id: 'edit-modal',
					title: '',
					content: ''
				},
				forms: {},
				errors: {},
			}
		},
		mounted() {
		  // Set the initial number of items
		  this.totalRows = this.loanData.length
		},
		methods: {
			getLoanList(){
				axios.get('/loans-list')
				.then((response)=>{
					this.loanData 	= response.data.loans;
					this.userData 	= response.data.users;
					this.totalRows = this.loanData.length;
				})
				.catch(error => {});
			},
			onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			},
			info(item, index, button) {
				this.infoModal.title = 'Loan Details'
				this.infoModal.content = item
				this.$root.$emit('bv::show::modal', this.infoModal.id, button)
			},
			resetInfoModal() {
				this.infoModal.title = ''
				this.infoModal.content = ''
			},
			resetEditModal() {
				this.editModal.title = ''
				this.editModal.content = ''
				this.errors = {};
				this.forms = {};
			},
			edit(item, index, button) {
				this.errors = {};
				this.forms = {};
				if(index != '0')
					this.editModal.title 	= 'Edit Loan Details'
				else
					this.editModal.title 	= 'Create New Loan'
				this.forms.amount			= item.amount
				this.forms.interest			= item.interest
				this.forms.duration			= item.duration
				this.forms.start_date		= item.start_date
				this.forms.end_date			= item.end_date
				this.forms.campaign			= item.campaign
				this.forms.status			= item.status
				this.forms.loan_id			= item.id
				this.forms.user				= item.user_id
				this.$root.$emit('bv::show::modal', this.editModal.id, button)
			},
			submit() {
				this.errors = {};
				axios.post('/edit-loan', this.forms).then(response => {
					this.$root.$emit('bv::hide::modal', this.editModal.id)
					this.makeToast('success',response.data.message)
					this.getLoanList();
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			},
			makeToast(variant = null,message) {
				this.$bvToast.toast(message, {
				  title: `${variant || 'default'}`,
				  variant: variant,
				  solid: true
				})
			},
			deleteLoan(loan_id){
				if(confirm("Do you really want to delete?")){
					axios.post('/delete-loan',{
						loan_id: loan_id,
					}).then(response => {
						this.makeToast('success',response.data.message)
						this.getLoanList();
					}).catch(error => {
						this.makeToast('danger','Something went wrong!')
					});
				}
			}
		},
		filters: {
			currency: function (value) {
				if (!value) return '0.00 €'
				return parseFloat(value).toFixed(2).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "1 €,") + " €" 
			},
			percentage: function (value) {
				if (!value) return ''
				return parseFloat(value).toFixed(2)+'%'
			},
			formatDate: function (value) {
				if(value == null) return '';
				var p = value.match(/^(\d{2,4})\-?(\d{1,2})?\-?(\d{1,2})?$/);
				if(!p) return null;
				var date = new Date(parseInt(p[1] || new Date().getFullYear()), parseInt(p[2] || (new Date().getMonth() + 1)) - 1, parseInt(p[3]), 0, 0, 0, 0);
				var f = function(d) { 
					return d < 10 ? '0' + d : d; 
				};
				return f(date.getDate()) + '.' + f(date.getMonth() + 1) + '.' + date.getFullYear();
			}
		}
	}
</script>
