<template>
	<div>
		<b-card no-body>
			<div slot="header">
				<h4> User List</h4>
				<a href="javascript:void(0)" class="btn button-orange float-right" @click="edit(forms,0)">
				<i aria-hidden="true" class="fa fa-plus"></i>
				<span class="col-md-2">Create User</span></a>
			</div>
			<b-card-body>
				<b-row class="float-right">
					<b-col md="12" class="my-2">
						<b-input-group>
							<b-form-input v-model="filter" placeholder="Type to Search"></b-form-input>
						</b-input-group>
					</b-col>
				</b-row>
				<b-table id="user-table" responsive
					show-empty
					:fields="fields" 
					:items="userData"
					:current-page="currentPage"
					:per-page="perPage"
					:filter="filter"
					@filtered="onFiltered"
					>
					<template slot="actions" slot-scope="data">
						<a href="javascript:void(0)" title="view" class="icon-padding" @click="info(data.item, data.item.id, $event.target)">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</a>
						<a href="javascript:void(0)" title="edit" class="icon-padding" @click="edit(data.item, data.item.id, $event.target)">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</a>
						<a v-bind:class="{ 'fa-disabled': data.item.dead==1 }" href="javascript:void(0)" title="delete" class="icon-padding delete-icon" @click="deleteUser(data.item.id)">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</a>
					</template> 
				</b-table>
				<b-row>
					<b-col class="my-1" v-if="totalRows > perPage">
						<b-pagination
							v-model="currentPage"
							:total-rows="totalRows"
							:per-page="perPage"
							class="my-0"
							align="right"
						></b-pagination>
					</b-col>
				</b-row>
			</b-card-body>
		</b-card>	
        <b-modal centered :id="infoModal.id" :title="infoModal.title" :hide-footer="true" @hide="resetInfoModal">
			<div class="detail-view">
				<b-card bg-variant="light">
					<b-form-group
						label-cols-sm="4"
						label="First Name:"
						label-align-sm="left"
					  >
						<div class="mt-2">{{ infoModal.content.first_name }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Last Name:"
						label-align-sm="left"
					  >
						<div class="mt-2">{{ infoModal.content.last_name }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Email:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.email }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Personal Code:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.personal_code }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Age:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.age }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Phone:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.phone }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Active:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.active }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Dead:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.dead }}</div>
					  </b-form-group>
					  <b-form-group
						label-cols-sm="4"
						label="Language:"
						label-align-sm="left"
					  >
						  <div class="mt-2">{{ infoModal.content.lang }}</div>
					  </b-form-group>
					  
				</b-card>
			</div>
		</b-modal>
		<b-modal centered :id="editModal.id" :title="editModal.title" :hide-footer="true" @hide="resetEditModal">
			<div class="edit-view">
				<b-card bg-variant="light">
					<form no-validate @submit.prevent="submit">
						<div class="form-group">
							<label for="first_name">First Name</label>
							<input type="text" class="form-control" name="first_name" id="first_name" v-model="forms.first_name" />
							<div v-if="errors && errors.first_name" class="text-danger">{{ errors.first_name[0] }}</div>
						</div>
						<div class="form-group">
							<label for="last_name">Last Name</label>
							<input type="text" class="form-control" name="last_name" id="last_name" v-model="forms.last_name" />
							<div v-if="errors && errors.last_name" class="text-danger">{{ errors.last_name[0] }}</div>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" name="email" id="email" v-model="forms.email" />
							<div v-if="errors && errors.email" class="text-danger">{{ errors.email[0] }}</div>
						</div>
						<div class="form-group">
							<label for="personal_code">Personal Code</label>
							<input type="text" class="form-control" name="personal_code" id="personal_code" v-model="forms.personal_code" />
							<div v-if="errors && errors.personal_code" class="text-danger">{{ errors.personal_code[0] }}</div>
						</div>
						<div class="form-group">
							<label for="phone">Phone</label>
							<input type="text" class="form-control" name="phone" id="phone" v-model="forms.phone" />
							<div v-if="errors && errors.phone" class="text-danger">{{ errors.phone[0] }}</div>
						</div>
						<div class="form-group">
							<label for="active">Active</label>
							<input type="number" class="form-control" name="active" id="active" v-model="forms.active"  min="0" max="2" />
							<div v-if="errors && errors.active" class="text-danger">{{ errors.active[0] }}</div>
						</div>
						<div class="form-group">
							<label for="dead">Dead</label>
							<input type="number" class="form-control" name="dead" id="dead" v-model="forms.dead"  min="0" max="1" />
							<div v-if="errors && errors.dead" class="text-danger">{{ errors.dead[0] }}</div>
						</div>
						<div class="form-group">
							<label for="lang">Language</label>
							<input type="text" class="form-control" name="lang" id="lang" v-model="forms.lang" />
							<div v-if="errors && errors.lang" class="text-danger">{{ errors.lang[0] }}</div>
						</div>
						<button type="submit" class="btn button-orange btn-lg float-right rounded-pill">Save</button>
					</form>
				</b-card>
			</div>
		</b-modal>		
    </div>
</template>

<script>
    export default {
		created(){
			this.getUserList();
		},
		data() {
		  return {
				fields: [
					{ key: 'first_name', label: 'First Name',  sortable: true},
					{ key: 'last_name', label: 'Last Name',  sortable: true},
					{ key: 'email', label: 'Email',  sortable: true},
					{ key: 'personal_code', label: 'Personal Code' ,  sortable: true},
					{ key: 'age', label: 'Age' ,  sortable: true, class: 'text-center'},
					{ key: 'phone', label: 'Phone' ,  sortable: true},
					{ key: 'lang', label: 'Language',sortable: true },
					{ key: 'actions', label: 'Action', class: 'text-center'}
				  ],
				userData: [],
				filter: null,
				totalRows: 1,
				currentPage: 1,
				perPage: 10,
				pageOptions: [5, 10, 15],
				infoModal: {
					id: 'info-modal',
					title: '',
					content: ''
				},
				editModal: {
					id: 'edit-modal',
					title: '',
					content: ''
				},
				forms: {},
				errors: {},
			}
		},
		mounted() {
		  // Set the initial number of items
		  this.totalRows = this.userData.length
		},
		methods: {
			getUserList(){
				axios.get('/users-list')
				.then((response)=>{
					this.userData 	= response.data;
					this.totalRows = this.userData.length;
				})
				.catch(error => {});
			},
			onFiltered(filteredItems) {
				// Trigger pagination to update the number of buttons/pages due to filtering
				this.totalRows = filteredItems.length
				this.currentPage = 1
			},
			info(item, index, button) {
				this.infoModal.title = 'User Details'
				this.infoModal.content = item
				this.$root.$emit('bv::show::modal', this.infoModal.id, button)
			},
			resetInfoModal() {
				this.infoModal.title = ''
				this.infoModal.content = ''
			},
			resetEditModal() {
				this.editModal.title = ''
				this.editModal.content = ''
				this.errors = {};
				this.forms = {};
			},
			edit(item, index, button) {
				this.errors = {};
				this.forms = {};
				if(index != '0')
					this.editModal.title 	= 'Edit User Details'
				else
					this.editModal.title 	= 'Create New User'
				this.forms.first_name		= item.first_name
				this.forms.last_name		= item.last_name
				this.forms.email			= item.email
				this.forms.personal_code	= item.personal_code
				this.forms.phone			= item.phone
				this.forms.active			= item.active
				this.forms.dead				= item.dead
				this.forms.lang				= item.lang
				this.forms.user_id			= item.id
				this.$root.$emit('bv::show::modal', this.editModal.id, button)
			},
			submit() {
				this.errors = {};
				axios.post('/edit-user', this.forms).then(response => {
					this.$root.$emit('bv::hide::modal', this.editModal.id)
					this.makeToast('success',response.data.message)
					this.getUserList();
				}).catch(error => {
					if (error.response.status === 422) {
						this.errors = error.response.data.errors || {};
					}
				});
			},
			makeToast(variant = null,message) {
				this.$bvToast.toast(message, {
				  title: `${variant || 'default'}`,
				  variant: variant,
				  solid: true
				})
			},
			deleteUser(user_id){
				if(confirm("Do you really want to delete?")){
					axios.post('/delete-user',{
						user_id: user_id,
					}).then(response => {
						this.makeToast('success',response.data.message)
						this.getUserList();
					}).catch(error => {
						this.makeToast('danger','Something went wrong!')
					});
				}
			}
		}
    }
</script>
